:root {
  --color-black:  #191A21;
  
  --color-gray-800:  #212227;
  --color-gray-600:  #3F414A;
  --color-gray-400:  #646777;
  --color-gray-200:  #DEDEDE;
  
  --color-white:    #FFFFFF;
  --color-blue:     #028AFE;
  --color-blue-600: #0C5695;
  --color-red:      #FE023E;
  --color-yellow:   #FFDC50;

  --font-family: "Montserrat", sans-serif;
  --font-size: 0.9rem;
}