.site-header {
  display: flex;
  gap: 1rem;
  align-items: center;
  align-content: center;
  margin: 1rem;
}

.site-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  flex: 1;
  margin: 0;
}

#import-file {
  display: none;
}